<h4 style="margin-top: 1em">Reports</h4>
<ul>
  <li><%= link_to "Summary by Status and Agent", reports_summary_by_status_and_agent_path %></li>
  <li><%= link_to "Funnel by Status and Agent", reports_funnel_by_status_and_agent_path %></li>
</ul>
